@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Encode+Sans+Semi+Condensed:wght@600&family=Overpass:wght@300;400;500&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

body {
    font-family: 'Overpass', sans-serif; /* Default Font */
}


/* Typography */
h1 {
    font-family: 'Audiowide', cursive;
    font-weight: 400;
    font-size: 45px;
    text-shadow:
        0 0 10px  rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.5),
        0 0 30px rgba(222, 215, 173, 0.375)
}

h2 {
    font-family: 'Overpass', sans-serif;
    font-weight: 500;
    font-size: 45px;
}

h3 {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 40px;
}

h4 {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    font-size: 35px;
}

h5 {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    font-size: 30px;
}

.copyright-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 26px;
    margin: 0;
}

.powered-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    letter-spacing: 0.5px;
}

.contact-item {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.nav-links a, .dropbtn, .btn-sales, .dropdown-content a, .btn-learn-more {
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}